# Python
__pycache__/
*.py[cod]
venv/

# Node
node_modules/
.env
dist/
.env.*
!.env.example
!.env.staging.example
!.env.prod.example
!scoutos-frontend/.env.example
.DS_Store
# Ignore SQLite test database
scoutos-backend/test.db
